/********** Template CSS **********/
@import "bootstrap/dist/css/bootstrap.min.css";
:root {
  --primary: #adc178;
  --light: #f1f8ff;
  --dark: #0f172b;
}


.ff-secondary {
  font-family: "Pacifico", cursive;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.pointer {
  cursor: pointer;
  text-decoration: none;
}

.btn-warning.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffc107;
  border: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.btn-warning.back-to-top.show {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

/* Account Settings */
.account-settings button,
a {
  margin-right: 10px;
}

/* Drop Down Menu Items */
.header-class .dropdown-menu-items a {
  transition: all 0.5s ease;
}

.header-class .dropdown-menu-items a:hover {
  background-color: #000;
  color: white;
}

.header-class .dropdown-menu-items a {
  font-weight: 500;
  color: black;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 2px;
}

/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  font-size: 15px;
  color: var(--light) !important;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.header-class .show {    
    background-color: var(--dark);     
}

.header-class .dropdownMenu .show {    
    background-color: #fff
}

.header-class .show a {
  border-bottom: 1px solid #ccc;    
}

.header-class .navbar {
  width: 100%;
  background: transparent !important;
  position: fixed;
}

.header-class .sticky-top {
  background: var(--dark) !important;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
  padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
  max-height: 60px;
  transition: 0.5s;
}

.sticky-top.navbar-dark .navbar-brand img {
  max-height: 45px;
}

@media (max-width: 991.98px) {
  .navbar-dark .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .navbar-dark .navbar-nav .nav-link,
  .sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 0;
  }

  .navbar-dark .navbar-brand img {
    max-height: 45px;
  }

  .header-class .show a {
    border-bottom: 1px solid #ccc;    
  }

  .header-class .order-btn {
    margin-top: 8px;    
  }
}

@media (min-width: 992px) {
  .navbar-dark {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: transparent !important;
  }
}

/*** Hero Header ***/
.hero-header {
  background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)),
    url(../img/bg-hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;    
}

.hero-header img {
  animation: imgRotate 50s linear infinite;  
}

@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);  
}

/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
}

.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}

/*** Service ***/
.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
  cursor: pointer;
}

.service-item:hover {
  background: var(--primary);
  transform: scale(1.1);
}

.service-item * {
  transition: 0.5s;
}

.service-item:hover * {
  color: var(--light) !important;
}

/* *** About Page *** */
.about-page img {
  cursor: pointer;
  transition: 0.5s;
}
.about-page img:hover {
  transform: scale(1.1);
  padding: 4px;
}

/*** Food Menu ***/
.nav-pills .nav-item {
  border-bottom: 2px solid transparent;
}

.nav-pills .nav-item .active {
  border-bottom: 2px solid var(--primary);
}

.food-card {
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  border-radius: 4px;
  padding: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.food-card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase the box shadow on hover */
  z-index: 999;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  /* transform: rotate(3deg); */
  cursor: pointer;
}

/* Modal css && Thumbnail */

.image-container {
  width: 100%;
  height: 300px;
}

.image-container .img-contain {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

.food-content {
  flex: 1;
}

.food-content h5 {
  margin-bottom: 0;
}

.food-content .border-bottom {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.food-content .text-primary {
  color: #007bff;
}

.food-content .fst-italic {
  font-style: italic;
}

.food-content .react-stars {
  margin-top: 10px;
}

/*** Youtube Video ***/
.video {
  position: relative;
  height: 100%;
  min-height: 500px;
  background: linear-gradient(rgba(15, 23, 43, 0.1), rgba(15, 23, 43, 0.1)),
    url(../img/video.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video .btn-play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: var(--primary);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: var(--primary);
  border-radius: 50%;
  transition: all 200ms;
}

.video .btn-play img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video .btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid var(--dark);
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

#videoModal {
  z-index: 99999;
}

#videoModal .modal-dialog {
  position: relative;
  max-width: 800px;
  margin: 60px auto 0 auto;
}

#videoModal .modal-body {
  position: relative;
  padding: 0px;
}

#videoModal .close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: -30px;
  z-index: 999;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  background: #000000;
  opacity: 1;
}

/*** Team ***/
.team-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  height: calc(100% - 38px);
  transition: 0.5s;
}

.team-item img {
  transition: 0.5s;
}

.team-item:hover img {
  transform: scale(1.1);
}

.team-item:hover {
  height: 100%;
}

.team-item .btn {
  border-radius: 38px 38px 0 0;
}

/*** Testimonial ***/
#testimonial {
  text-align: center;
}

#testimonial .section-title {
  font-family: var(--ff-secondary);
  color: var(--text-primary);
  font-weight: var(--fw-normal);
}

#testimonial .carousel {
  position: relative;
  max-width: 100%;
}

#testimonial .testimonial-item {
  transition: 0.5s;
  background: var(--primary) !important;
  border-color: var(--primary) !important;
  text-align: left;
  padding: 2rem;
  border-radius: 10px;
  color: var(--light) !important;
  font-size: 1.2rem;
  line-height: 1.5;
}

#testimonial .testimonial-item i {
  display: block;
}

#testimonial .testimonial-item p {
  margin-bottom: 1.5rem;
}

#testimonial .carousel-caption h5 {
  margin: 0.5rem 0;
}

/* Quote Icon */
#testimonial .fa-quote-left {
  font-size: 2rem;
  margin-right: 1rem;
}

/* Client Image */
#testimonial .img-fluid.rounded-circle {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

/* Caption */
#testimonial .carousel-caption {
  text-align: left;
}

/* Meta Information */
#testimonial .carousel-caption small {
  font-style: italic;
}

#testimonial .img-container {  
  width: 100%;
  display: flex;
  justify-content: flex-start;  
}

#testimonial .img-container img {
  margin-right: 20px;
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.custom-placeholder::placeholder {
  color: red;
  font-style: italic;
}

.register .input-class {
  border: 4px solid transparent;
}

.register.red-border .input-class {
  border: 4px solid rgb(229, 85, 85);
  box-shadow: 0px 0px 113px -3px rgba(229, 85, 85, 0.75);
  -webkit-box-shadow: 0px 0px 113px -3px rgba(229, 85, 85, 0.75);
  -moz-box-shadow: 0px 0px 113px -3px rgba(229, 85, 85, 0.75);
}

.register.green-border .input-class {
  border: 4px solid #99f3d0;
  box-shadow: 0px 0px 113px -3px rgba(153, 243, 208, 0.75);
  -webkit-box-shadow: 0px 0px 113px -3px rgba(153, 243, 208, 0.75);
  -moz-box-shadow: 0px 0px 113px -3px rgba(153, 243, 208, 0.75);
}

/* Auth */
.form-group .form-control {
  min-width: 300px;
  margin-bottom: 5px;
}

.auth-bg-image {
  position: absolute;
  z-index: -10;
  opacity: 0.5;
}

.auth-container {
  z-index: 11;
  opacity: 1;
  height: 100vh;
}

/* Admin Contact Icons */
.contact-admin-icons i {
  font-size: 20px;
  margin-right: 4px;
}



/*  */
.thumbnail-cart-buttons .cart-btn-container {
  display: flex;
  align-items: center;
  margin-left: 6px;
}

.thumbnail-cart-buttons {
  display: flex;
  align-items: center;
}
.thumbnail-cart-buttons a {
  margin-left: 6px;  
  font-weight: 500;
}

.food-content {
  padding: 8px;
}

.thumbnail-cart-buttons .btn {
  margin-left: 8px;  
}


.shopping-cart {
  margin-right: 6px;
}

.cart-section .cart-section-links a {
  margin-left: 8px;
}


/* Sariq ranglarni yashilga olib chiqishim kerak */
/* To'lov qismiga stripe'nni ulashim kerak */
/* o'chirish qimi ham ishlamayapti */